# Python bytecode & cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments & IDEs
.venv/
env/
venv/
ENV/
.vscode/
.idea/

# Build & distribution artifacts
build/
dist/
Output/
data/
*.egg-info/

# Installers & packages
*.msix

# Code Assistants
GEMINI.md